:root{
    --clr-text: #3d3d3d;
    --clr-primary: #c90101;
    --clr-primary-dark: #6d0202;
    --clr-accent: #179fdf;
    --clr-accent-dark: #045170;
    /*--ff-title: "BFNarrow", sans-serif;
    --ff-serif: "Crimson Text", serif;
    --ff-logo: "BetterFly", sans-serif;*/

}
*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    /* font-family: var(--ff-serif); */
    color: var(--clr-text);
    background-color: rgb(194, 194, 181);
    font-size: 1,125rem;
}

body{
    margin: 0;
    text-align: center;
}

/*section{
    padding: 3em 1em;
}*/

/*img{
    display: block;
    max-width: 100%;
}*/

/* Typography */
h1,
h2,
h3,
h4,
p,
b{
   margin: .5em; 
}

h1{
    font-family: Impact, fantasy;
    font-size: 2em;
    width: 10ox;
  }

/* navigation */
header{
    padding: 1em 0 2 em;
}


.grid-menu{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; 
    grid-row:auto;   
}

.grid-menue_item{
    text-align:center; 
    align-content: baseline;
}

.grid-menue_item>a{
    /* display: inline-block; */
        padding: 0.5em;
        color: var(--clr-text);
        text-decoration: none;
}

.grid-menue_item>a:hover,
.grid-menue_item>a:focus{
    color: var(--clr-accent);
    text-decoration: underline;
}

.fa-sheet-plastic{
    text-decoration: underline 5px;
}
/*------------------------------------*/
        /*main*/
.principal_message{
    padding-top: 1em;
    padding-bottom: 1em;
    height: 5em;
    color: white;
    background-color: #c90101;
}

.lk-menu{
    display: grid;
    grid-template-areas: '. . . . . . . . . . . . . . . . ';
    grid-row:auto;
}

.grid-lk_menue{
    font-size: 20px;
    text-align:center;
    border: 1px solid black;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-row:auto;
    /* background-color: #2196F3; */
}

.grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 10px;
    font-size: 15px;
    text-align:left;
  }

  .grid-item>div{
    width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .grid-item>div:hover{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .grid-item>p{
    padding-top: 2px;
  }

  /*gris items acomodo*/
  .item1{
    grid-row: 1 / span 1;
    margin-bottom: 2em;
  }
  .item2{
    grid-row: 1 / span 1;    
}
.item3{
    grid-row: 2 / span 1; 
}
.item4{
    grid-row: 2 / span 3; 
}
.item5{
    grid-row: 3 / span 2; 
}
.item6{
    grid-row: 5 / span 1; 
}
  /*--------------------*/
@media only screen and (max-width:600px){/*responsive*/
    
    .text {
            font-size: 11px;
        }

        .grid-container{
            grid-template-columns: auto;
        }
    }

